body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: none;
    overflow-y: auto;
}

.main{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: auto auto 100px;
    grid-template-columns: 100%;
}

.navbar{
    display: grid;
    padding: 20px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    background-color: lightgray;
}

.navLeft{
    float: left;
    text-align: left;
    justify-content: left;
}

.navMid{
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.navRight{
    float: right;
    text-align: right;
    justify-content: right;
}

.container{
    display: grid;
    background-color: lightblue;
    padding: 20px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}

input[type="text"]{
    background-color: lightblue;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin: 5px;
    width: 50ch;
    text-align: center;
}

.container div{
    margin-bottom: 10px;
}

.conMid{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.imgCon{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.imgInner{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("imgEdit.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
}

.imgForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.imgForm div{
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 10px;
}

input[type="file"]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgPlaceholder{
    width: 50px;
    height: 50px;
}

.submitBtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer{
    padding: 20px;
}